.login-container, .register-container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container{
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
}

.inner-container{
  width: 25%;
  padding: 20px;
  background-color: white;
}

.inner-container h1{
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.login-container .inner-container form{
  display: flex;
  flex-direction: column;
}

.login-container .inner-container form input{
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

.inner-container form button{
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 30%;
}

.login-container .inner-container form a{
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer; 
}


.register-container .inner-container{
  width: 40%;
}

.register-container .inner-container form{
  display: flex;
  flex-wrap: wrap;
}

.register-container .inner-container form input{
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-container .inner-container form input{
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-container .inner-container form span{
  font-size: 12px;
  margin: 20px 10px;
  text-align: center;
}

.erreur{
  color: red;
}
