.filter-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter-container .filter{
    margin: 20px;
}

.filter-container .filter-text{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.filter-container .filter select{
    padding: 10px;
    margin-right: 20px;
}

.prods{
    margin-top:-18%;
}